.answer-unit {
  display: inline-block;
  width: 45%;
  border: 1px solid #ccc;
  box-sizing: border-box;
  padding: 10px;
  margin: 20px;
  word-wrap: break-word;
  white-space: normal;
}

.answer {
	margin-top: 30px;
}

@media screen and (max-width: 800px) {
	.answer-unit {
		margin: 5px;
		margin-top: 10px;
	}
}