<div class="question">
  <i class="material-icons">help_outline</i>
  <span style="font-size: 25px !important;"> {{curWord.content}}
    <i class="material-icons" (click)="speak()" style="cursor: pointer; margin-top: 10px;">volume_up</i>
  </span>
  <p style="color: #ccc; font-size: 13px; padding-left: 30px;"> là gì nhỉ? </p>
</div>

<div class="answers" style="margin-top: 30px;"> 
  <i class="material-icons">face</i>
  <div class="answers-content">
    <button md-button *ngFor="let item of answers" class="answer-unit" (click)="checkAnswer(item)"
          [disabled]="clicked">
        {{item.meaning}}
    </button>
  </div>
</div>

