<form>
<div class="register">
  <div>
    <h2>REGISTER</h2>
    <md-input-container>
      <span md-prefix><i class="material-icons">account_circle</i>&nbsp;</span>
      <input md-input placeholder="Username" required="true">
    </md-input-container>
  </div>
  <div>
  <md-input-container>
    <span md-prefix><i class="material-icons">lock_outline</i>&nbsp;</span>
    <input md-input type="password" placeholder="Password" required>
  </md-input-container>
  <md-input-container>
    <span md-prefix><i class="material-icons">visibility</i>&nbsp;</span>
    <input md-input type="password" placeholder="Confirm password" required>
  </md-input-container>
  </div>
  <div class="loginBtn">
    <button type="submit" md-raised-button color="primary"><i class="material-icons">input</i> &nbsp; Register
    </button>
  </div>
</div>
</form>