<app-loading *ngIf="isLoading"></app-loading>
<div *ngIf="!isLoading">
  <app-warning-offline *ngIf="hasErr"></app-warning-offline>
  <div *ngIf="!hasErr">
    <div>
      <img src="assets/images/1000word.jpg" class="inline-item header-info" 
        (click)="goSection()">
      <div class="inline-item">
        <h3 class="primary title" (click)="goSection()"> {{curTopic['name']}}</h3>
        <p class="caption accent"> <md-icon>book</md-icon> {{curSection['name']}}</p>
      </div>
    </div>
    <div class="flex-container game-box" 
         fxLayout="row" 
         fxLayoutAlign="space-around start" 
      >
      <div class="flex-item list-word hide-mobile" fxFlex="30%">
        <md-list>
          <md-list-item *ngFor="let item of words" (click)="changeWord(item)">
            <h4 md-line>{{item['content']}}</h4>
          </md-list-item>
          <md-divider></md-divider>
        </md-list>
      </div>
      <div class="flex-item" fxFlex>
        <md-card>
          <md-card-header>
            <div md-card-avatar></div>
            <md-card-title><md-icon (click)="speak()">volume_up</md-icon>
              <span style="font-size: 25px;">{{curWord['content']}}</span>
            </md-card-title>
            <md-card-subtitle>{{curWord['meaning']}}</md-card-subtitle>
          </md-card-header>
          <md-card-content>
          </md-card-content>
          <md-card-actions style="text-align: right;">
            <button md-raised-button [disabled]="disablePre" (click)="previous()" color="primary">
              <md-icon>chevron_left</md-icon>
              Pre
            </button>
            <button md-raised-button [disabled]="disableNext" (click)="next()" color="primary">
              <md-icon>chevron_right</md-icon>
              Next</button>
          </md-card-actions>
        </md-card>
      </div>
    </div>
  </div>
</div>