<md-tab-group>
  <md-tab label="Thông tin cơ bản">
  	<div class="flex-container game-box" 
     fxLayout="row" 
     fxLayoutAlign="center center" 
    	>
		  <div class="flex-item profile" fxFlex="30%">
		    <img md-card-avatar *ngIf="!profile.imageUrl" 
				  src="/assets/images/default-avatar.png">
			  <img md-card-avatar *ngIf="profile.imageUrl" 
				  src="{{profile.imageUrl}}">
		  </div>
		  <div class="flex-item" fxFlex="70%">
		  	<p>Name: {{profile.name}}</p>
  			<p>Email: {{profile.email}}</p>
		  </div>
		</div> 
    </md-tab>
  <md-tab label="Bạn bè">
  <div class="flex-container game-box" 
     fxLayout="row" 
     fxLayoutAlign="space-around start" 
    >
    <div class="flex-item" fxFlex="50%">
		  <p> Bạn bè của tôi </p>
		  	<div *ngIf="friends.length == 0" class="caption">Bạn chưa có bạn.</div>
			  <div *ngIf="friends.length > 0">
			  	<div *ngFor="let item of friends">
			  		<app-user-item [user]="item"></app-user-item>
					</div>
				</div>
				
			</div>
			<div class="flex-item" fxFlex="50%">
				<p>Tìm kiếm thêm bạn:</p>
				<md-icon>search</md-icon>
				<app-search-friend></app-search-friend>
			</div>
		</div>
  </md-tab>

  <md-tab label="Yêu cầu kết bạn">
  	<div *ngIf="noRequest" class="caption"> 0 yêu cầu</div>
  	<div *ngIf="requests">
	  	<div *ngFor="let item of requests">
	  		<app-user-item [user]="item"></app-user-item>
			</div>
		</div>
  </md-tab>
</md-tab-group>



