<md-tab-group>
  <md-tab label="Thông tin cơ bản">
  	<p>Name: {{profile.name}}</p>
  	<p>Email: {{profile.email}}</p>
  </md-tab>
  <md-tab label="Bạn bè">
	  <p> Bạn bè của tôi </p>
	  <div *ngIf="friends">
	  	<md-card class="example-card" *ngFor="let item of friends">
			  <md-card-header>
			    <div md-card-avatar>
				    <img md-card-avatar *ngIf="!item.imageUrl" src="/assets/images/default-avatar.png">
				    <img md-card-avatar *ngIf="item.imageUrl" src="{{item.imageUrl}}">
			    </div>
			    <md-card-title>{{item.name}}</md-card-title>
			    <md-card-subtitle>{{item.email}}</md-card-subtitle>
			    <button md-raised-button (click)="cancel(item['_id'])"> Hủy kết bạn </button>
			  </md-card-header>
			</md-card>
		</div>
		<p>Tìm kiếm thêm bạn:</p>
		<md-icon>search</md-icon><app-search-friend></app-search-friend>
  </md-tab>

  <md-tab label="Yêu cầu kết bạn">
  	<div *ngIf="noRequest"> 0 yêu cầu</div>
  	<div *ngIf="requests">
	  	<md-card class="example-card" *ngFor="let item of requests">
			  <md-card-header>
			    <div md-card-avatar>
				    <img md-card-avatar *ngIf="!item.imageUrl" src="/assets/images/default-avatar.png">
				    <img md-card-avatar *ngIf="item.imageUrl" src="{{item.imageUrl}}">
			    </div>
			    <md-card-title>{{item.name}}</md-card-title>
			    <md-card-subtitle>{{item.email}}</md-card-subtitle>
			    <button md-raised-button (click)="agree(item)"> Chấp nhận </button>
			  </md-card-header>
			</md-card>
		</div>
  </md-tab>
</md-tab-group>



