<div class="profile">
	<h3 class="primary"><md-icon>info_outline</md-icon> Personal Information </h3>
	<div class="flex-container game-box" 
	     fxLayout="row" 
	     fxLayoutAlign="center center">
	  <div class="flex-item profile" fxFlex="30%">
	    <img md-card-avatar *ngIf="!profile['imageUrl']" 
			  src="/assets/images/default-avatar.png">
		  <img md-card-avatar *ngIf="profile['imageUrl']" 
			  src="{{profile.imageUrl}}">
	  </div>
	  <div class="flex-item" fxFlex="70%">
	  	<p>Name: {{profile['name']}}</p>
			<p>Email: {{profile['email']}}</p>
		</div>
	</div> 
	<div class="flex-container game-box" 
	     fxLayout="row" fxLayout.xs="column" fxLayout.sm="row" 
	     fxLayoutAlign="space-around start">
	  <div class="flex-item" fxFlex="50%">
	  	<h3 class="primary"><md-icon>people_outline</md-icon> My friends</h3>
	  </div>
		<div class="flex-item search-box" fxFlex="50%">
			<md-icon>search</md-icon>
			<app-search-friend></app-search-friend>
		</div>
	</div>
	<div>
  	<div *ngIf="friends.length == 0" class="caption">Bạn chưa có bạn.</div>
	  <div *ngIf="friends.length > 0">
	  	<div *ngFor="let item of friends">
	  		<app-user-item [user]="item"></app-user-item>
			</div>
		</div>
	</div>
</div>




