<h4 class="primary text-center"> Yêu cầu </h4>
<div *ngIf="from">
<p class="text-center"> {{from.name}} đã gửi yêu cầu cho bạn</p>
<div class="item-friend ">
      <div class="avatar" style="margin: 0 auto;">
        <img md-card-avatar *ngIf="!from.imageUrl" src="/assets/images/default-avatar.png">
        <img md-card-avatar *ngIf="from.imageUrl" src="{{from.imageUrl}}">
      </div>
      <p class="name-friend text-center primary">{{from.name}}</p>
</div>
<h4 *ngIf="status" class="primary" style="text-align: center;" [innerHTML]="status"></h4>
<div class="action">
    <button md-button (click)="cancel()" [disabled]="status" >Hủy</button>
    <button md-button (click)="agree()" [disabled]="status" >Chấp nhận</button>
</div>
</div>
