img {
	width: 50px;
	height: 50px;
	border: 1px solid #03a9f4;
	border-radius: 50%;
}

.name-friend {
	font-size: 12px;
}
.flex-item {
	text-align: center;
}

.center {
	text-align: center;
}

.btn-challenge {
	display: table; 
	margin: 0 auto; 
	border-radius: 50%; 
	width: 60px; 
	height: 60px; 
	color: white;
}

.btn-challenge span {
	display: table-cell; 
	vertical-align: middle;
}

.score {
	font-size: 25px;
	font-weight: bold;
}