<div class="question">
  <i class="material-icons">help_outline</i>
  <span style="font-size: 25px !important;"> {{curWord['meaning']}}
    <i class="material-icons" (click)="speak()" style="cursor: pointer; margin-top: 10px;">volume_up</i>
  </span>
  <p style="color: #ccc; font-size: 13px; padding-left: 30px;"> là gì nhỉ? </p>
</div>

<md-input-container>
	<input md-input [(ngModel)]="answer" (keyup)="onKey($event)" autofocus> 
</md-input-container>
<p *ngIf="showAnswer">{{curWord.content}}</p>
