<table width="100%">
	<tr>
		<th></th>
		<th class="text-center"> 
			<img md-card-avatar *ngIf="!from.imageUrl" src="/assets/images/default-avatar.png">
		  <img md-card-avatar *ngIf="from.imageUrl" src="{{from.imageUrl}}">
		</th>
		<th class="text-center">
			<img md-card-avatar *ngIf="!to.imageUrl" src="/assets/images/default-avatar.png">
		  <img md-card-avatar *ngIf="to.imageUrl" src="{{to.imageUrl}}">
		</th>
	</tr>
	<tr *ngFor="let item of content; let i = 'index'">
		<td>
			<h4 md-line>{{item.content}}</h4>
	    <p md-line> {{item.meaning}} </p>
		</td>
		<td class="text-center">
		<span *ngIf="fromAns">
			<md-icon *ngIf="!compare(item.content, fromAns[i])" color="warn">highlight_off</md-icon>
			<md-icon *ngIf="compare(item.content, fromAns[i])" color="primary">check_circle</md-icon>
		</span>
		</td>
		<td class="text-center">
			<span *ngIf="toAns">
			<md-icon *ngIf="!compare(item.content, toAns[i])" color="warn">highlight_off</md-icon>
			<md-icon *ngIf="compare(item.content, toAns[i])" color="primary">check_circle</md-icon>
		</span>
		</td>
	</tr>
</table>
<div style="float: right;">
  <button md-raised-button color="primary" routerLink="/"><md-icon>home</md-icon></button>
  <button [disabled]="isSend" md-raised-button color="primary" 
  		(click)="sendRequestGame()">Send Request Game</button>
</div>
