<h3 class="primary"><md-icon>videogame_asset</md-icon> My requests</h3>

<div *ngIf="turns">
	<md-card class="example-card" *ngFor="let item of turns">
	  <md-card-header>
	    <div md-card-avatar>
		    <i class="material-icons" *ngIf="!item.from.id.imageUrl">account_circle</i>
		    <img md-card-avatar *ngIf="item.from.id.imageUrl" src="{{item.from.id.imageUrl}}">
	    </div>
	    <md-card-title>{{item.from.id.name}}</md-card-title>
	    <md-card-subtitle>{{item.from.id.email}}</md-card-subtitle>
	    <button md-raised-button (click)="begin(item)" color="primary"> Bắt đầu </button>
	    <md-icon mdTooltip="Ignore this!" (click)="ignore(item)" style="cursor: pointer;">clear</md-icon>
	  </md-card-header>
	</md-card>
</div>