.item-friend {
	max-width: 80px;
	float: left;
	margin: 0px 15px;
}

.item-friend img{
	position: relative;
	width: 80px;
	height: 80px;
	border: 1px solid #03a9f4;
	border-radius: 50%;
	cursor: pointer;
}

.name-friend {
	white-space: nowrap;
	font-size: 14px;
	text-align: center;
}

.friends-list {
	margin-left: 40px;
}

.status {
	display: inline-block;
	position: relative;
	width: 18px;
	height: 18px;
	border-radius: 50%;
	top: -24px;
}

.primary {
	color: #2196f3;
}