.item-friend {
	max-width: 60px;
	float: left;
	margin: 0px 15px;
}

.avatar {
	position: relative;
}

.item-friend img{
	width: 60px;
	height: 60px;
	border: 1px solid #03a9f4;
	border-radius: 50%;
	cursor: pointer;
}

.name-friend {
	white-space: nowrap;
	font-size: 14px;
	text-align: center;
}

.friends-list {
	margin-left: 40px;
}

.status {
	display: inline-block;
	position: absolute;
	width: 15px;
	height: 15px;
	border-radius: 50%;
	bottom: 6px;
}

.primary {
	color: #2196f3;
}

.info-choose {
	margin: 5px;
}