
	<md-card *ngIf="user">
	  <md-card-header>
	    <div md-card-avatar>
		    <img md-card-avatar *ngIf="!user.imageUrl" src="/assets/images/default-avatar.png">
		    <img md-card-avatar *ngIf="user.imageUrl" src="{{user.imageUrl}}">
	    </div>
	    <md-card-title>{{user.name}}</md-card-title>
	    <md-card-subtitle>{{user.email}}</md-card-subtitle>

	    <button *ngIf="user.state==''&&!isMe" 	
	       md-raised-button [disabled]="sendRequest"
	    	(click)="createFriend()" > 
	    	Add Friend
	    </button>
	    <button *ngIf="user.state=='isFriend'" md-raised-button (click)="unfriend()"> Unfriend
	    </button>
	    <button *ngIf="user.state=='isRequest'" md-raised-button (click)="acceptRequest()"> Accept
	    </button>
	    <md-icon *ngIf="user.state=='isRequest'" mdTooltip="Ignore this!" (click)="ignoreRequest()" style="cursor: pointer;">clear</md-icon>
	  </md-card-header>
	</md-card>
