.login {
  max-width: 400px;
  margin: 0 auto;
  padding: 15px;
  background-color: #F5F5F5;
  padding-bottom: 40px;
}
.login > div {
  text-align: center;
}

.loginBtn {
  margin-bottom: 10px;
}

.social-btn {
	margin: 0 auto;
}
