<div class="login">
  <div>
    <h2>LOG IN</h2>
    <md-input-container>
      <span md-prefix><i class="material-icons">account_circle</i>&nbsp;</span>
      <input md-input placeholder="Username">
    </md-input-container>
  </div>
  <div>
  <md-input-container>
    <span md-prefix><i class="material-icons">lock_outline</i>&nbsp;</span>
    <input md-input type="password" placeholder="Password">
  </md-input-container>
  </div>
  <div class="loginBtn">
    <button md-raised-button color="primary"><i class="material-icons">input</i> &nbsp;Log in
    </button>
  </div>
  <div>
    <app-login-google>
    </app-login-google>
  </div>

  <!-- <div class="fb-login-button" data-max-rows="1" data-size="large" data-show-faces="false" data-auto-logout-link="false"></div> -->

  <app-login-facebook></app-login-facebook>
  

  <!-- <div class="social-btn">
    <button class="loginBtn loginBtn--google">
      Sign in with Google
    </button>
  </div> -->

</div>
