.avatar img {
	width: 40px;
	height: 40px;
	border-radius: 50%;
	vertical-align: middle;
}

.item-history {
  padding: 10px;
  border-bottom: 1px solid #eee;
}

.win-score {
	font-size: 18px;
  color: #2196F3;
}

