<div class="play-word">
   <div *ngIf="!isEnd">
    <md-progress-bar mode="determinate" value="{{counter}}" color="{{colorProgressbar}}"></md-progress-bar>
    <button md-button (click)="next()">Next</button>
    <p style="text-align: right;">Score: {{score}}/{{max}}</p>
    <p style="text-align: right;">Question: {{this.count}}/{{max}}</p>
    <app-reading [curWord]="curWord" [allWords]="allWords" *ngIf="selectedGame == 'reading' "
    (onCorrect)="onCorrect($event)" (userAnswer)="userAnswer($event)" >
    </app-reading>
    <app-writing [curWord]="curWord" [allWords]="allWords" *ngIf="selectedGame == 'writing' "
    (onCorrect)="onCorrect($event)" (userAnswer)="userAnswer($event)">
    </app-writing>
  </div>
  <div *ngIf="isEnd">End Game  
    <button md-raised-button (click)="getTurnGame()">Get Answer</button>
    <app-my-answer [turnGame]="turnGame"></app-my-answer>
  </div>
</div>
