<div *ngIf="!isReady" class="play-word">
  <app-my-friends [from]="from" (selectFriend)="selectFriend($event)">
  </app-my-friends>
  <div>
    <button md-raised-button (click)="sendRequestSocket()" [disabled]="!selectedFriend" 
      color="primary"> Challenge
    </button>
  </div>
  <app-random-user (toUser)="toUser($event)"></app-random-user>
  <app-history></app-history>
</div>
<div class="play-word" *ngIf="isReady">
  <div *ngIf="!isEnd">
  <md-progress-bar mode="determinate" value="{{counter}}" color="{{colorProgressbar}}">
  </md-progress-bar>
  <app-game-player [from]="from" [to]="to"></app-game-player>
    <app-circle-progress style="float: right;"
       [percent]="percent"
       [boxSize]="160"
       [radius]="40"
       [lowColor]="'#FFD54F'"
       [middleColor]="'orange'"
       [interColor]="'#f1c40f'"
       [highColor]="'#2196f3'"
       [border]="10"
       [time]="0"
      >
    </app-circle-progress>
    <p style="text-align: right;">Question: {{this.count}}/{{max}}</p>
    <app-reading [curWord]="curWord" [allWords]="allWords" [choices]="choices" 
    *ngIf="selectedGame == 'reading'"
    (onCorrect)="onCorrect($event)" (userAnswer)="userAnswer($event)">
    </app-reading>
    <app-writing [curWord]="curWord" *ngIf="selectedGame == 'writing' "
    (onCorrect)="onCorrect($event)" (userAnswer)="userAnswer($event)">
    </app-writing>
  </div>
  <div *ngIf="isEnd">
    <app-game-player [from]="from" [to]="to"></app-game-player>
    <app-my-answer [from]="from" [to]="to" [turnGame]="turn" [isOnline]="onlineGame" 
      [isRequest]="isRequest" (goBack)="goBack($event)" [isReceiver]="isReceiver">
    </app-my-answer>
  </div>
</div>
