/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/core/theming/prebuilt/deeppurple-amber.css';

body {
  margin: 0 !important;
  font-family: 'Noto Sans', sans-serif;
}

.primary {
	color: #2196f3;
}

.accent {
	color: #FF5722;
}

.bg-primary {
	background-color: #2196f3;
}

.text-center {
	text-align: center;
}

.subhead {
	font-size: 14px;
}

.size14 {
	font-size: 14px;
}

.caption {
	font-size: 12px;
}

.list-notify md-card {
	padding: 0 !important;
	box-shadow: none !important;
}

.list-notify md-card md-card-header md-card-title,
.list-notify md-card md-card-header md-card-subtitle{
	font-size: 12px;
}

.mat-list .mat-list-item .mat-list-item-content {
	padding: 0 !important;
}

@media screen and (max-width: 599px) {
  .hide-mobile {
  	display: none !important;
  }
}


