/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/core/theming/prebuilt/deeppurple-amber.css';

body {
  margin: 0 !important;
  font-family: Tahoma, Verdana, sans-serif;
}

.primary {
	color: #2196f3;
}

.bg-primary {
	background-color: #2196f3;
}
